HTML {
	overflow: visible
}

.easyui-layout {
	overflow: visible
}

.tabs-panels .panel-body {
	overflow: visible
}

.layout-panel .layout-body {
	border: 0
}

.ie67 .layout-panel-north .panel-body {
	overflow: visible
}

.layout_north .header_top {
	background: url(../images/header_top_bg.jpg) repeat-x;
	height: 52px;
	border-bottom: 1px solid #d1cfd0
}

.layout_north .header_top .logo {
	float: left;
	width: 400px;
	height: 41px;
	margin-top: 4px;
	background: url(../../../c/images/logo.jpg) no-repeat
}

.layout_north .userinfo {
	float: right;
	margin-top: 18px
}

.layout_north .userinfo LI {
	float: left;
	border-right-style: solid;
	line-height: 1
}

.layout_north .userinfo .user {
	margin-right: .5em;
	padding-left: 20px;
	background: url("../images/icon_user.png") no-repeat
}

.layout-panel-north .panel-body {
	background: 0
}

.layout_north .header_nav {
	padding-top: 8px;
	height: 35px;
	background: 0;
	border-bottom: 3px solid #2573b1
}

.layout_north .header_nav li {
	float: left;
	display: block;
	height: 35px;
	margin-right: -1px
}

.layout_north .header_nav li.split {
	display: none
}

.layout_north .header_nav A {
	display: block;
	padding: 7px 10px 7px 30px;
	margin-top: 1px;
	border: 1px solid #c6c6c6;
	border-bottom: 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	color: #777;
	background-color: #FFF
}

.layout_north .header_nav A.active,.layout_north .header_nav A:hover {
	background-color: #2573b1;
	color: #fff
}

.layout-panel-west .west_tree {
	width: 260px
}

.layout-panel-west .west_menu {
	width: 80px
}

.west_menu .body A {
	background: no-repeat;
	border: medium none;
	color: #4c596b;
	margin: 4px 0 4px 5px;
	padding: 42px 4px 10px;
	text-align: center;
	width: 60px
}

.west_menu .body A .m-btn-downarrow {
	display: none
}

.west_menu .body A:hover,.west_menu .body A.active {
	background-color: #2a75af;
	color: #fff
}

.menu-line {
	border: 0
}

.layout-panel-west .layout-body {
	background: #edeef2;
	box-shadow: -2px 0 5px #ccc inset
}

.layout-panel-west .west_tree .title {
	padding: 8px 0 8px 35px;
	margin-right: 1px;
	font-size: 14px;
	background-color: #e1e4e9;
	color: #737373
}

.layout-panel-west .west_tree .cmds {
	float: right;
	margin-top: -30px
}

.layout-panel-west .west_tree .cmds LI {
	float: left
}

.layout-panel-west .west_tree .collapse {
	margin: 0 10px
}

.layout-panel-west .west_tree INPUT {
	font-size: 12px;
	height: 20px;
	padding-left: 4px;
	width: 9.5em;
	color: #999;
	display: none
}

.layout-panel-center .tabs-header,.layout-panel-center .tabs-panels {
	border: 0
}

.layout-panel-center .tabs-panels {
	border-bottom: 0;
	padding-left: 20px
}

.layout-panel-center .layout-body,.layout-panel-center .panel-body {
	background: 0
}

.layout-panel-center .tabs-header {
	background: #FFF
}

.layout-panel-center .tabs {
	border-color: #bdbdbd;
	margin-top: 6px
}

.layout-panel-center .tabs li a.tabs-inner {
	color: #555
}

.layout-panel-center .tabs li.tabs-selected a.tabs-inner {
	color: #000;
	font-weight: normal
}

.layout-panel-center .tabs li {
	background: url("../images/tab_left.png") no-repeat left;
	margin-right: -10px;
	filter: none
}

.layout-panel-center .tabs li a.tabs-inner {
	background: url("../images/tab_right_combo.png") no-repeat right;
	border: 0;
	padding: 0 25px;
	border-radius: 0;
	filter: none
}

.layout-panel-center .tabs li.last a.tabs-inner {
	background-image: url("../images/tab_right.png")
}

.layout-panel-center .tabs li.tabs-selected {
	background-color: #FFF;
	background-image: url("../images/tab_left_active_combo.png")
}

.layout-panel-center .tabs li.tabs-selected.first {
	background-image: url("../images/tab_left_active.png")
}

.layout-panel-center .tabs li.tabs-selected a.tabs-inner {
	background-image: url("../images/tab_right_active_combo.png")
}

.layout-panel-center .tabs li.tabs-selected.last a.tabs-inner {
	background-image: url("../images/tab_right_active.png")
}

.layout-panel-center .tabs li a.tabs-close {
	right: 16px
}

.collapse {
	background-image: url('../images/collapse.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 55px;
	background-position: 0 3px;
	cursor: pointer
}

.expand {
	background-image: url("../images/expand.png");
	background-position: 26px 10px;
	background-repeat: no-repeat;
	height: 14px;
	padding: 10px 0;
	width: 55px;
	cursor: pointer
}

.collapse a,.expand a {
	display: none
}