<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>普华数据中心综合监控平台</display-name>
	
	<!--context-param>
        <param-name>release.debug</param-name>
        <param-value>true</param-value>
    </context-param-->

	<!--context-param>
		<param-name>release.title</param-name>
		<param-value>普华数据中心综合监控平台</param-value>
	</context-param-->
	
	<context-param>
        <param-name>release.version</param-name>
        <param-value>20140101000000</param-value>
    </context-param>
    
    <!--context-param>
        <param-name>release.iradar.server</param-name>
        <param-value>192.168.137.150</param-value>
    </context-param-->
    
    <!--context-param>
        <param-name>release.iradar..server.port</param-name>
        <param-value>10051</param-value>
    </context-param-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- filter -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.isoft.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <!--  此机制在iRadar有更好的解决方案，在显示时处理，而不是提交时
    <filter>
        <filter-name>XssFilter</filter-name>
        <filter-class>com.isoft.web.filter.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    -->
	<filter>
        <filter-name>RadarContextFilter</filter-name>
        <filter-class>com.isoft.iradar.web.filter.RadarContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RadarContextFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginCheckFilter</filter-name>
        <filter-class>com.isoft.web.filter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>DevMode</filter-name>
        <filter-class>com.isoft.web.filter.DevModeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DevMode</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<listener>
		<listener-class>com.isoft.iradar.web.listener.IMonListener</listener-class>
	</listener>

	<servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
       		<param-name>javax.ws.rs.Application</param-name>
            <param-value>com.isoft.web.bean.RestApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>
    
	
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.isoft.web.servlet.ImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/imageServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>dataSourceAdmin</servlet-name>
        <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dataSourceAdmin</servlet-name>
        <url-pattern>/ds</url-pattern>
    </servlet-mapping>
    

	<jsp-config>
		<taglib>
			<taglib-uri>/isoft/core</taglib-uri>
			<taglib-location>/WEB-INF/tlds/isoft-tags-f.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/isoft/easyui</taglib-uri>
			<taglib-location>/WEB-INF/tlds/isoft-tags-easyui.tld</taglib-location>
		</taglib>
	</jsp-config>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint>
		</auth-constraint>
	</security-constraint>
	
	<error-page>
	  <error-code>404</error-code>
	  <location>/assets/c/images/404.png</location>
	</error-page>
</web-app>